<html>
<head>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <title>Apples 2 Apples</title>
</head>
<body>
  <script type='text/javascript'>

    updateGame = function() {
      console.log('updateGame');
      $("#greenCard").text(newState['greenCard']);
      $("#cardsPlayed").text(newState['cardsPlayed']);
      $("#players").text(newState['numberOfPlayers']);
      $("#score").text(newState['score']);
      if(newState['judge'] == true) {
        $("#playerType").text('You are Judge');
      } else {
        $("#playerType").text('You are a Player');
      }
      $("#cards").html('');
      for (var i = newState['cards'].length - 1; i >= 0; i--) {
        var card = newState['cards'][i];
        $("#cards").append("<input type='button' value='"+card+"' />");
      };
      //<input type="button" value="{{ card }}" />
      console.log(newState['cards']);
    };

    sendMessage = function(path, opt_param) {
      console.log('sendMessage');

      //path += '?g=' + state.game_key;
      if (opt_param) {
        path += '?' + opt_param;
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', path, true);
      xhr.send();
    };
    
    onOpened = function() {
      console.log('onOpened');
      sendMessage('/opened');
    };
    
    onMessage = function(m) {
      console.log('onMessage');
      newState = JSON.parse(m.data);
      updateGame();
    }
    
    openChannel = function() {
      var token = '{{ token }}';
      var channel = new goog.appengine.Channel(token);
      var handler = {
        'onopen': onOpened,
        'onmessage': onMessage,
        'onerror': function() {},
        'onclose': function() {}
      };
      var socket = channel.open(handler);
      socket.onopen = onOpened;
      socket.onmessage = onMessage;
    }
    
    /*initialize = function() {
      openChannel();
      //onMessage({data: "MESSAGE"});
    }      

    setTimeout(initialize, 100);*/

    $(document).ready(function() {
      openChannel();

      $('#cards').delegate('input', 'click', function(e) {
        var card = $(this).attr("value");
        if (newState['judge'] == true) {
          sendMessage('/pick_winner', 'c='+card);
        } else {
          sendMessage('/play_card', 'c='+card);
        }
      });
    });

  </script>



<div style="width:800px; margin: 0 auto;">
<h4 id="playerType"></h4>
<h3><span id="cardsPlayed"></span> of <span id="players"></span> cards played</h3>
<h1 id="greenCard">{{ current_green_card }}</h1>

<h2>Score: <span id="score"></span></h2>
<div id="cards">
</div>

</div>

</body>
</html>
